<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="{{ "/assets/revealjs/dist/reset.css" }}">
    <link rel="stylesheet" href="{{ "/assets/revealjs/dist/reveal.css" }}">
    <link rel="stylesheet" href="{{ "/assets/revealjs/dist/theme/black.css" }}" id="theme">


    <!-- Theme used for syntax highlighted code -->
    <link rel="stylesheet" href="{{ "/assets/revealjs/plugin/highlight/monokai.css"  }}" id="highlight-theme">
</head>
<!-- hack iOS CSS :active style -->
<body ontouchstart="">
    <div class="reveal">
        <div class="slides">
            <!-- Slides are separated by newline + three dashes + newline, vertical slides identical but two dashes -->
            <section data-markdown data-separator="^\n---\n$" data-separator-vertical="^\n--\n$">
                {{ content }}
            </section>
        </div>
    </div>

    <script src="{{ "/assets/revealjs/dist/reveal.js" }}"></script>
    <script src="{{ "/assets/revealjs/plugin/notes/notes.js" }}"></script>
    <script src="{{ "/assets/revealjs/plugin/markdown/markdown.js" }}"></script>
    <script src="{{ "/assets/revealjs/plugin/highlight/highlight.js" }}"></script>
    <script>
        // More info about initialization & config:
        // - https://revealjs.com/initialization/
        // - https://revealjs.com/config/
        Reveal.initialize({
            hash: true,

            // Learn about plugins: https://revealjs.com/plugins/
            plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
        });
    </script>
</body>

</html>
